<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<%- include('../partials/head')-%>
		<%- include('../partials/styles')-%>
	</head>
	<body>
		<%- include('../partials/navbar')-%>
		<h1 class='text-danger'>錯誤,請洽管理員!!</h1>
		<%- include('../partials/scripts')-%>
	</body>
</html>
